<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.chatting.mapper.ChatRoomMapper">

	<select id="findUserChatRooms" parameterType="int"
		resultType="org.joonzis.chatting.dto.ChatRoomDTO">

		SELECT
		r.room_id,

		CASE
		WHEN r.user1_id = #{user_id}
		THEN r.user2_id
		ELSE r.user1_id
		END AS other_user_id,

		u.nickname AS other_user_name,

		m.content AS last_msg,
		m.created_at AS created_at,

		(
		SELECT COUNT(*)
		FROM tbl_msg msg
		JOIN tbl_chat_room_user cru
		ON cru.room_id = msg.room_id
		WHERE cru.room_id = r.room_id
		AND cru.user_id = #{user_id}
		AND msg.sender_id != #{user_id}
		AND msg.msg_id > NVL(cru.last_read_msg_id,0)
		) AS unread_count

		FROM tbl_room r

		JOIN tbl_user u
		ON u.user_id =
		CASE
		WHEN r.user1_id = #{user_id}
		THEN r.user2_id
		ELSE r.user1_id
		END

		
		LEFT JOIN (
		SELECT room_id, MAX(msg_id) AS last_msg_id
		FROM tbl_msg
		GROUP BY room_id
		) lm
		ON lm.room_id = r.room_id

		
		LEFT JOIN tbl_msg m
		ON m.msg_id = lm.last_msg_id

		WHERE r.user1_id = #{user_id}
		OR r.user2_id = #{user_id}

		ORDER BY m.created_at DESC

	</select>


</mapper>
