<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.user.mapper.MypageMapper">
	
	<!-- 마이페이지 수정-닉네임, 주소  -->
	<update id="updateMypage" parameterType="org.joonzis.user.vo.UserVO">
		UPDATE TBL_USER
		<set>
		    <if test="nickname != null and nickname != ''">
		        nickname = #{nickname},
		    </if>
		    <if test="address != null and address != ''">
		        address = #{address},
		    </if>
		</set>
		WHERE user_id = #{user_id}
	</update>
	
	<!-- 마이페이지 수정-관심사  -->
	<select id="searchHashtag" parameterType="string" resultType="map">
		SELECT
        hashtag_id,
        hashtag_name
	    FROM tbl_hashtag_list
	    WHERE hashtag_name LIKE '%' || #{keyword} || '%'
	    ORDER BY hashtag_name
	</select>
	<!-- 마이페이지 수정-관심사 선택(저장)-->
	<!-- merge 사용 이유: 데이터가 있으면  아무것도 안 하고 있으면 insert-->
	<update id="insertUserAspect" >
		  MERGE INTO tbl_user_aspect t
		  USING (SELECT #{userId} AS user_id, #{hashtagId} AS hashtag_id FROM dual) s
		  ON (t.user_id = s.user_id AND t.hashtag_id = s.hashtag_id)
		  WHEN NOT MATCHED THEN
		  INSERT (user_id, hashtag_id) VALUES (s.user_id, s.hashtag_id)
	</update>
	
</mapper>