<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.user.mapper.UserMapper">
	
	<!-- 회원가입  -->
	<insert id="insert" parameterType="org.joonzis.user.vo.UserVO">
		INSERT INTO TBL_USER
			(user_id,
			username,
			password,
			nickname,
			name,
			email,
			brith_date,
			address,
			phone,
			confirm_service,
			confirm_userinfo,
			confirm_event)
		VALUES
			(USER_ID_SEQ.NEXTVAL,
			#{username},
			#{password},
			#{nickname, jdbcType=VARCHAR},
			#{name, jdbcType=VARCHAR},
			#{email, jdbcType=VARCHAR},
			#{brith_date, jdbcType=DATE},
			#{address, jdbcType=VARCHAR},
			#{phone, jdbcType=VARCHAR},
			#{confirm_service},
			#{confirm_userinfo},
			#{confirm_event})
	</insert>
	
	<!-- user-id 조회  -->
	<select id="findUserIdByUsername" resultType="int">
	  SELECT user_id FROM TBL_USER WHERE username = #{username}
	</select>
	
	<!-- 관심사  -->
	
	<!-- 1)해시태그 id 조회  -->
	<select id="findHashtagIdByName" resultType="int">
		SELECT hashtag_id
		FROM TBL_HASHTAG_LIST
		WHERE hashtag_name = #{hashtag_name}
	</select>
	
	<!-- 2)해시태그 테이블 insert -->
	<insert id="insertHashtag" >
		INSERT INTO TBL_HASHTAG_LIST
		(hashtag_id, hashtag_name)
		VALUES(HASHTAG_SEQ.NEXTVAL,
		#{hashtag_name})
	</insert>
	
	<!-- 3) 관심사 중간 테이블 insert -->
	<insert id="insertUserAspect" parameterType="map">
		INSERT INTO TBL_USER_ASPECT
		(user_id, hashtag_id)
		VALUES
		(#{user_id}, #{hashtag_id})
	</insert>
	
	<!-- 4)관심사  중간 테이블 delete  -->
	<delete id="deleteUserAspect" >
		DELETE FROM TBL_USER_ASPECT 
		WHERE
		user_id = #{user_id} 
	</delete>
	
	<!--<select id="selectAspectNamesByUserId" resultType="string">
	  SELECT h.hashtag_name
	  FROM TBL_USER_ASPECT ua
	  JOIN TBL_HASHTAG_LIST h ON h.hashtag_id = ua.hashtag_id
	  WHERE ua.user_id = #{user_id}
	</select>  -->
	
	
	<!-- 데이터 조회  -->
	<select id="selectLogin" parameterType="org.joonzis.user.vo.UserVO"
	resultType="org.joonzis.user.vo.UserVO">
		SELECT user_id, name
		FROM TBL_USER
		WHERE user_id = #{user_id}
	</select>
	
	<!-- 로그인  -->
	<select id="login" resultType="org.joonzis.user.vo.UserVO">
		SELECT *
		FROM TBL_USER
		WHERE username = #{username}
		AND password = #{password}
	</select>
	
	<!-- 데이터 삭제  -->
	<delete id="delete" parameterType="org.joonzis.user.vo.UserVO">
		DELETE 
		FROM TBL_USER
		WHERE user_id = #{user_id}
	</delete>
	<!-- 아이디 찾기 쿼리 -->
	<!-- 아이디 찾기(이메일) -->
	<select id="findIdByEmail" parameterType="String" resultType="String">
		SELECT username 
		FROM TBL_USER 
		WHERE email = #{email}
	</select>
	
	
	<!-- 비밀번호 찾기 쿼리 -->
	<!-- 1)비밀번호 찾기_계정 존재여부 확인 (이메일) -->
	<select id="existUserByEmail" resultType="int">
		SELECT COUNT(*)
		FROM TBL_USER
		WHERE username = #{username}
		AND email = #{email}
	</select>
	
	<!-- 이메일로 유저정보 가져오기 -->
	<select id="findUserByEmail" resultType="org.joonzis.user.vo.UserVO">
		SELECT username, password, email
		FROM TBL_USER
		WHERE email = #{email}
	</select>
	
	<!-- 2)비밀번호 재설정  -->
	<update id="resetPw" parameterType="org.joonzis.user.vo.UserVO">
		UPDATE TBL_USER
    	SET password = #{password}
    	WHERE username = #{username}
    	AND email = #{email}
	</update>
	

	<!-- 아이디 중복 체크: 회원가입 시 필요  -->
	<select id="countByUsername" resultType="int">
		SELECT COUNT(*)
		FROM TBL_USER
		WHERE username = #{username}
	</select>
	
	<!-- 이메일 중복 체크: 회원가입 시 필요  -->
	<select id="countByEmail" resultType="int">
		SELECT COUNT(*)
		FROM TBL_USER
		WHERE email = #{email}
	</select>
	
	<!-- 마케팅수신동의 테스트용 조회 -->
	<select id="selectByUsername" parameterType="String" resultType="org.joonzis.user.vo.UserVO">
		SELECT username, confirm_service, confirm_userinfo, confirm_event 
		FROM TBL_USER
		WHERE username = #{username}
	</select>
	
	<!-- 자동로그인-아이디로 찾기(쿠키) -->
	<select id="findByUsername" parameterType="String" resultType="org.joonzis.user.vo.UserVO">
		SELECT * 
		FROM TBL_USER
		WHERE username = #{username}
	</select>
	
	<!-- 마이페이지: 내 정보 조회  -->
	<select id="selectUser" parameterType="int" resultType="org.joonzis.user.vo.UserVO">
		SELECT username, brith_date, nickname, phone, email 
		FROM TBL_USER
		WHERE user_id = #{user_id}
	</select>
	
	
	<!-- 공개 프로필 조회: 닉네임, 프로필, 회원등급, 자기소개   -->
	<select id="selectPublicProfile" parameterType="int" resultType="org.joonzis.user.dto.UserDTO">
		SELECT user_id, grade_id, nickname, profile_filename, intro
		FROM TBL_USER
		WHERE user_id = #{user_id}
	</select>
	
	<!-- 공개 프로필 조회: 전체 답변수 -->
	<select id="getReplyCnt" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM TBL_REPLY
		WHERE user_id = #{user_id}
	</select>
	
	<!-- 공개 프로필 조회: 조회수  -->
	<select id="getViewCnt" parameterType="int" resultType="int">
		SELECT NVL(SUM(view_count),0)
		FROM TBL_BOARD
		WHERE user_id = #{user_id}
	</select>
	
	<!-- 공개 프로필 조회: 채택 답변수  -->
	<select id="getIsSelected" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM TBL_BOARD
		WHERE user_id = #{user_id}
		AND is_selected = 1
	</select>
	<!-- 유저 닉네임 가져오기  -->
    <select id="findNicknameById" resultType="String">
        SELECT nickname
        FROM TBL_USER
        WHERE user_id = #{user_id}
    </select>
	
	<update id="updateLastLoginDate">
		UPDATE tbl_user
		SET last_login_date = SYSDATE
		WHERE user_id = #{user_id}
	</update>
	
	<update id="updateEnable">
		UPDATE tbl_user
		SET enable = #{enable}
		WHERE user_id=#{user_id}
	</update>
	
	<select id="selectUserListByEnable" resultType="org.joonzis.user.vo.UserVO">
		SELECT * FROM tbl_user
		WHERE 
			enable = 0
			AND
			<![CDATA[
			last_login_date <= ADD_MONTH(SYSDATE, -12) 
			]]>
	</select>
	
	<delete id="deletionUserByList" parameterType="java.util.List">
		DELETE FROM tbl_user
		WHERE user_id IN
		<foreach collection="list" item="user_id" open="(" separator="," close=")" >
			#{user_id}
		</foreach>
	</delete>
	<resultMap type="org.joonzis.user.dto.MypageProfileDTO" id="mypageProfileDTO">
		<id property="user_id" column="user_id"/>
		<result property="profile" column="profile_filename"/>
		<result property="nickname" column="nickname"/>
		<result property="gradeName" column="grade"/>
		<result property="name" column="name"/>
		<result property="brith_date" column="brith_date"/>
		<result property="intro" column="intro"/>
		<result property="phone" column="phone"/>
		<result property="email" column="email"/>
		<result property="totalAnswers" column="totalAnswers"/>
		<result property="totalViews" column="totalViews"/>
		<result property="acceptedAnswers" column="acceptedAnswers"/>
		<collection property="aspect" ofType="string">
			<result column="hashtag_name"/>
		</collection>
		<collection property="posts" ofType="org.joonzis.community.dto.CommunityPostCardDTO">
		    <id property="boardId"    column="BOARD_ID"/>
		    <result property="title"      column="TITLE"/>
		    <result property="userId"     column="USERID"/>
		    <result property="thumbSrc"   column="THUMB_SRC"/>
		    <result property="viewCount"  column="VIEW_COUNT"/>
		    <result property="likeCount"  column="LIKE_COUNT"/>
		    <result property="replyCount" column="REPLY_CNT"/>
		    <result property="hashtags"   column="HASHTAGS"/>
		</collection>
	</resultMap>
	  <sql id="PostsQuery">
    SELECT
      TBL_BOARD.user_id,
      TBL_BOARD.BOARD_ID AS BOARD_ID,
      TBL_BOARD.TITLE    AS TITLE,
      NVL(TBL_USER.NICKNAME, '익명') AS AUTHOR,

      NVL(TBL_BOARD.VIEW_COUNT, 0) AS VIEW_COUNT,
      NVL(TBL_BOARD.LIKE_COUNT, 0) AS LIKE_COUNT,
      NVL(TBL_BOARD.REPLY_CNT, 0)  AS REPLY_CNT,

      ( SELECT MIN(TBL_BOARD_FILE.SAVED_NAME) 
  		FROM TBL_BOARD_FILE 
 	 	WHERE TBL_BOARD_FILE.BOARD_ID = TBL_BOARD.BOARD_ID 
  		AND TBL_BOARD_FILE.IS_THUMBNAIL = 'Y' 
		) AS THUMB_SRC,

      ( SELECT LISTAGG(TBL_BOARD_HASHTAG_LIST.BOARD_HASHTAG_NAME, ',') WITHIN GROUP (ORDER BY TBL_BOARD_HASHTAG_LIST.BOARD_HASHTAG_NAME) 
          FROM TBL_BOARD_ASPECT 
          JOIN TBL_BOARD_HASHTAG_LIST 
            ON TBL_BOARD_HASHTAG_LIST.BOARD_HASHTAG_ID = TBL_BOARD_ASPECT.BOARD_HASHTAG_ID 
          WHERE TBL_BOARD_ASPECT.BOARD_ID = TBL_BOARD.BOARD_ID 
          AND TBL_BOARD_HASHTAG_LIST.IS_ACTIVE = 'Y' 
        ) AS HASHTAGS

    FROM TBL_BOARD
    JOIN TBL_USER
      ON TBL_USER.USER_ID = TBL_BOARD.USER_ID
    WHERE TBL_BOARD.IS_ACTIVE = 'Y'
  </sql>
<select id="getProfileInfo" resultMap="mypageProfileDTO">
    SELECT
        u.user_id,
        u.profile_filename,
        u.nickname,
        u.name,
        u.brith_date,
        u.intro,
        u.phone,
        u.email,
        g.grade,
        h.hashtag_name,
        NVL(b.totalAnswers, 0) AS totalAnswers,
        NVL(b.totalViews, 0) AS totalViews,
        NVL(b.acceptedAnswers, 0) AS acceptedAnswers,
        pCard.BOARD_ID,
        pCard.TITLE,
        pCard.VIEW_COUNT,
        pCard.LIKE_COUNT,
        pCard.REPLY_CNT,
        pCard.THUMB_SRC,
        pCard.HASHTAGS
    FROM
        tbl_user u
        LEFT OUTER JOIN tbl_grade_list g ON u.grade_id = g.grade_id
        LEFT OUTER JOIN tbl_user_aspect a ON u.user_id = a.user_id
        LEFT OUTER JOIN tbl_hashtag_list h ON h.hashtag_id = a.hashtag_id
        LEFT OUTER JOIN (
            SELECT
                user_id,
                COUNT(CASE WHEN board_type = 'A' THEN 1 END) AS totalAnswers,
                SUM(view_count) AS totalViews,
                COUNT(CASE WHEN is_selected = 'Y' THEN 1 END) AS acceptedAnswers
            FROM
                tbl_board
            GROUP BY
                user_id
        ) b ON u.user_id = b.user_id
        LEFT OUTER JOIN (
            SELECT * FROM (
                SELECT 
                    PC.*, 
                    ROW_NUMBER() OVER (ORDER BY PC.BOARD_ID DESC) as rnum 
                FROM (
                    <include refid="PostsQuery" />
                ) PC
                WHERE PC.USER_ID = #{user_id} -- PostsQuery 내부에 유저ID 컬럼이 있어야 함
            ) 
            WHERE rnum &lt;= 5
        ) pCard ON u.user_id = pCard.USER_ID
    WHERE 
        u.user_id = #{user_id}
</select>
</mapper>