<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.store.mapper.OrderMapper">
	<insert id="insertOrder">
		INSERT INTO tbl_order
		VALUES(
			#{order_id},
			#{paymentkey},
			#{type},
			#{method},
			#{status},
			#{approvedat},
			#{user_id},
			sysdate,
			'CHECKING',
			#{use_point},
			#{order_amount},
			#{totalamount},
			#{accumulate_point}
		)
	</insert>
	
	<insert id="insertOrderProductList">
		INSERT INTO tbl_order_product_list(
			order_id,
			product_id,
			product_count
		)
		<foreach collection="products" item="product" separator=" UNION ALL ">
			SELECT
				#{product.order_id},
				#{product.product_id},
				#{product.product_count}
			FROM DUAL
		</foreach>
	</insert>
	
	<insert id="insertOrderCard">
		INSERT INTO tbl_order_card
		VALUES(
			#{order_id},
			#{issuercode},
			#{acquirercode},
			#{cardnumber},
			#{installmentplanmonths},
			#{approveno},
			#{usercardpoint},
			#{cardtype},
			#{ownertype}
		)
	</insert>
	
	<insert id="insertOrderTransper">
		INSERT INTO tbl_order_transper
		VALUES(
			#{order_id},
			#{bankcode},
			#{settlementstatus}
		)
	</insert>
	
	<update id="updateOrder">
		UPDATE tbl_order
		SET
			paymentkey = #{paymentkey},
			type = #{type},
			method = #{metohd},
			status = #{status},
			order_status = #{order_status}
		WHERE order_id = #{order_id}
	</update>
	
	<update id="updateOrderProductList">
		UPDATE tbl_order_product_list
		SET
			product_count = #{product_count}
		WHERE order_id = #{order_id} AND product_id = #{product_id}
	</update>

	<delete id="deleteOrder">
		DELETE FROM tbl_order
		WHERE order_id = #{order_id}
	</delete>
	<delete id="deleteOrderCard">
		DELETE FROM tbl_order_card
		WHERE order_id = #{order_id}
	</delete>
	<delete id="deleteOrderTransper">
		DELETE FROM tbl_order_transper
		WHERE order_id = #{order_id}
	</delete>
	<delete id="deleteOrderProductList">
		DELETE FROM tbl_order_product_list
		WHERE 
			order_id = #{order_id}
			<if test="product_id != null">
				AND product_id = #{product_id}
			</if>
	</delete>
	
	<sql id="OrderDTO">
		SELECT 
		    o.*,
		    u.nickname,
		    c.issuercode,
		    cl.issuer_name_kr,
		    c.cardnumber,
		    c.approveno,
		    t.bankcode,
		    bl.bankcode_name_kr,
		    t.settlementstatus,
		    p.product_id,
		    p.product_name,
		    p.product_price,
		    p.product_delivery_price,
		    p.product_sale,
		    op.product_count,
		    i.saved_name
		FROM tbl_order o
		LEFT OUTER JOIN tbl_order_card c ON c.order_id = o.order_id
		LEFT OUTER JOIN tbl_user u ON u.user_id = o.user_id
		LEFT OUTER JOIN tbl_card_issuer_list cl ON c.issuercode = cl.code_id
		LEFT OUTER JOIN tbl_order_transper t ON t.order_id = o.order_id
		LEFT OUTER JOIN tbl_bankcode_list bl ON t.bankcode = bl.bankcode_id
		LEFT OUTER JOIN tbl_order_product_list op ON op.order_id = o.order_id
		LEFT OUTER JOIN tbl_product p ON op.product_id = p.product_id
		LEFT OUTER JOIN tbl_product_image i ON op.product_id = i.product_id AND i.is_thumbnail = 'Y'
	</sql>
	
	<resultMap type="org.joonzis.store.dto.OrderDTO" id="OrderDTO">
		<id property="order_id" column="order_id"/>
		<result property="paymentkey" column="paymentkey"/>
		<result property="type" column="type"/>
		<result property="method" column="method"/>
		<result property="user_id" column="user_id"/>
		<result property="nickname" column="nickname"/>
		<result property="order_date" column="order_date"/>
		<result property="status" column="status"/>
		<result property="order_status" column="order_status"/>
		<result property="use_point" column="use_point"/>
		<result property="order_amount" column="order_amount"/>
		<result property="totalamount" column="totalamount"/>
		<result property="accumulate_point" column="accumulate_point"/>
		<association property="card_info" javaType="org.joonzis.store.dto.OrderCardDTO">
			<id property="issuercode" column="issuercode"/>
			<result property="issuer_name" column="issuer_name_kr"/>
			<result property="cardnumber" column="cardnumber"/>
			<result property="approveno" column="approveno"/>
		</association>
		<association property="transper_info" javaType="org.joonzis.store.dto.OrderTransperDTO">
			<id property="bankcode" column="bankcode"/>
			<result property="bank_name" column="bankcode_name_kr"/>
			<result property="settlementstatus" column="settlementstatus"/>
		</association>
		<collection property="product_list" ofType="org.joonzis.store.dto.OrderProductListDTO">
			<id property="product_id" column="product_id"/>
			<result property="product_name" column="product_name"/>
			<result property="product_price" column="product_price"/>
			<result property="product_delivery_price" column="product_delivery_price"/>
			<result property="product_sale" column="product_sale"/>
			<result property="product_count" column="product_count"/>
			<result property="saved_name" column="saved_name"/>
		</collection>
	</resultMap>
	
	<select id="getOrder" resultMap="OrderDTO">
		<include refid="OrderDTO"/>
		WHERE o.order_id = #{order_id}
	</select>
	
	<select id="getOrderList" resultMap="OrderDTO">
		<include refid="OrderDTO"/>
		<where>
			<if test='type=="user" and type==null'>
				AND o.user_id = #{data}
			</if>
			<if test='type=="product"'>
				AND p.product_id = #{data}
			</if>
		</where>
	</select>
	
	<select id="selectOrder" resultType="org.joonzis.store.vo.OrderVO">
		SELECT * FROM tbl_order WHERE order_id=#{order_id}
	</select>
</mapper>