<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.store.mapper.ProductMapper">

	<insert id="insertProduct">
		INSERT INTO tbl_product
		VALUES(
			product_seq.nextval,
			#{category_id},
			#{product_name},
			#{product_price},
			#{product_delivery_price},
			#{product_remain},
			#{product_description_brief},
			#{product_description_detail},
			#{product_caution}
		)
	</insert>

	<select id="getProduct" resultType="org.joonzis.store.vo.ProductVO">
		SELECT * FROM tbl_product
		WHERE product_id = #{product_id}
	</select>

	<select id="getProductList" resultType="org.joonzis.store.vo.ProductVO">
		SELECT * FROM tbl_product
	</select>

	<update id="updateProduct">
		UPDATE tbl_product
		SET 
			product_name = #{product_name},
			category_id = #{category_id},
			product_price = #{product_price},
			product_delivery_price = #{product_delivery_price},
			product_remain = #{product_remain},
			product_description_brief = #{product_description_brief},
			product_description_detail = #{product_description_detail},
			product_caution = #{product_caution}
		WHERE product_id = #{product_id}
	</update>

	<delete id="deleteProduct">
		DELETE FROM tbl_product
		WHERE product_id = #{product_id}
	</delete>
	
	<insert id="insertCategory">
		INSERT INTO tbl_product_category VALUES(
			product_category_seq.nextval,
			#{category_name}
		)
	</insert>
	<select id="selectOneCategory" resultType="org.joonzis.store.vo.ProductCategoryVO">
		SELECT * FROM tbl_product_category WHERE category_id=#{category_id}
	</select>
	<select id="selectListCategory" resultType="org.joonzis.store.vo.ProductCategoryVO">
		SELECT * FROM tbl_product_category
	</select>
	<update id="updateCategory">
		UPDATE tbl_product_category
		SET
			category_name = #{category_name}
		WHERE
			category_id = #{category_id}
	</update>
	<delete id="deleteCategory">
		DELETE FROM tbl_product_category
		WHERE category_id = #{category_id}
	</delete>
	<!-- 중복되는 부분은 나중에 정리 -->
	
	<sql id="ProductListCommonSelect">
		SELECT 
		    p.product_id, p.product_name, p.product_price, 
		    p.product_delivery_price, p.product_sale,
		    COUNT(DISTINCT r.product_review_id) AS review_count,
		    NVL(AVG(r.review_rate), 0) AS product_rate,
		    MAX(i.saved_name) AS saved_name
		
		FROM tbl_product p
		LEFT JOIN tbl_product_review r ON p.product_id = r.product_id
		LEFT JOIN tbl_product_image i ON p.product_id = i.product_id AND i.is_thumbnail = 'Y'
	</sql>
	
	<!-- 카테고리를 기준으로 제품들의 정보 가져오기(댓글 평점, 댓글 수, 썸네일 포함) -->
	<select id="getProductListByCategoryId" resultType="org.joonzis.store.dto.ProductForListDTO">
		<include refid="ProductListCommonSelect" />
		<where>
			<if test="category_id != null">
				AND p.category_id = #{category_id}
			</if>
		</where>
		GROUP BY 
		    p.product_id, p.product_name, p.product_price,
		    p.product_delivery_price, p.product_sale
	</select>
	
	
	<resultMap type="org.joonzis.store.dto.ProductDetailDTO" id="productDetailMap">
		<id property="product_id" column="product_id"/>
		<result property="product_name" column="product_name"/>
		<result property="product_price" column="product_price"/>
		<result property="product_delivery_price" column="product_delivery_price"/>
		<result property="product_remain" column="product_remain"/>
		<result property="product_description_brief" column="product_description_brief"/>
		<result property="product_description_detail" column="product_description_detail"/>
		<result property="product_caution" column="product_caution"/>
		<result property="product_rate" column="product_rate"/>
		<result property="review_count" column="review_count"/>
		<result property="product_sale" column="product_sale"/>
		<collection property="image_list" ofType="string">
			<result column="saved_name"/>
		</collection>
	</resultMap>
	<select id="getProductDetail" resultMap="productDetailMap">
		SELECT 
		    p.product_id, 
		    p.product_name, 
		    p.product_price, 
		    p.product_delivery_price,
		    p.product_remain,
		    p.product_sale,
		    p.product_description_brief,
		    p.product_description_detail, 
		    p.product_caution,            
		    stats.review_count,
		    stats.product_rate,
		    i.saved_name
		FROM tbl_product p
		LEFT OUTER JOIN (
		    SELECT 
		        product_id, 
		        COUNT(product_review_id) as review_count,
		        NVL(AVG(review_rate), 0) as product_rate
		    FROM tbl_product_review
		    GROUP BY product_id
		) stats ON p.product_id = stats.product_id
		LEFT OUTER JOIN tbl_product_image i
		    ON p.product_id = i.product_id
		    AND i.is_thumbnail = 'N'
		WHERE 
		    p.product_id = #{product_id}
	</select>
	
	<select id="getProductListOnSale" resultType="org.joonzis.store.dto.ProductForListDTO">
		
		<include refid="ProductListCommonSelect"/>
		WHERE p.product_sale > 0
		
		GROUP BY 
		    p.product_id, p.product_name, p.product_price,
		    p.product_delivery_price, p.product_sale		
	</select>
	
	<select id="getProductListOnHot" resultType="org.joonzis.store.dto.ProductForListDTO">
		<include refid="ProductListCommonSelect"/>		
		GROUP BY 
		    p.product_id, p.product_name, p.product_price,
		    p.product_delivery_price, p.product_sale
		ORDER BY
			review_count DESC
	</select>
	
	
	<!-- 상품 검색 -->
	<select id="searchProductList" resultType="org.joonzis.store.dto.ProductForListDTO">
		<include refid="ProductListCommonSelect"/>
		<where>
			<if test="minPrice != null">
				AND p.product_price &gt;=#{minPrice}
			</if>
			<if test="maxPrice != null">
				AND p.product_price &lt;=#{maxPrice}
			</if>
			<if test="minSale != null">
				AND p.product_sale &gt;=#{minSale}
			</if>
			<if test="maxSale != null">
				AND p.product_sale &lt;=#{maxSale}
			</if>
			<if test="categoryId != null and categoryId != 0">
				AND p.category_id = #{categoryId}
			</if>
			<if test="keyword != null and keyword != ''">
				AND p.product_name LIKE '%'||#{keyword}||'%'
			</if>
		</where>
		GROUP BY 
		    p.product_id, p.product_name, p.product_price,
		    p.product_delivery_price, p.product_sale
	</select>
	
	<!-- 관리자의 상품 조회 -->
	
	<sql id="AdminListCommonSelect">
		SELECT 
		    p.product_id, p.product_name, p.product_price, 
		    p.product_delivery_price, p.product_sale, p.product_remain, c.category_name,
		    COUNT(DISTINCT r.product_review_id) AS review_count,
		    NVL(AVG(r.review_rate), 0) AS product_rate,
		    MAX(i.saved_name) AS saved_name,
		    COUNT(DISTINCT CASE WHEN o.status = 'DONE' AND o.order_status IN ('CONFIRMED', 'HOLD') THEN opl.order_id END) AS order_count
		FROM tbl_product p
		LEFT JOIN tbl_product_review r ON p.product_id = r.product_id
		LEFT JOIN tbl_product_image i ON p.product_id = i.product_id AND i.is_thumbnail = 'Y'
		LEFT JOIN tbl_order_product_list opl ON p.product_id = opl.product_id
		LEFT JOIN tbl_order o ON opl.order_id = o.order_id
		LEFT JOIN tbl_product_category c ON p.category_id = c.category_id
	</sql>
	
	<select id="getProductAdminList" resultType="org.joonzis.store.dto.ProductForAdminListDTO">
		<include refid="AdminListCommonSelect"/>
		GROUP BY 
		    p.product_id, p.product_name, p.product_price, c.category_name,
		    p.product_delivery_price, p.product_sale, p.product_remain
	</select>
	
	<select id="getProductAdminListByCategoryId" resultType="org.joonzis.store.dto.ProductForAdminListDTO">
		<include refid="AdminListCommonSelect"></include>
		WHERE p.category_id = #{category_id}
		GROUP BY 
		    p.product_id, p.product_name, p.product_price,c.category_name,
		    p.product_delivery_price, p.product_sale, p.product_remain
		ORDER BY p.product_id DESC
	</select>
	
	<select id="getProductAdminListByPrice" resultType="org.joonzis.store.dto.ProductForAdminListDTO">
		<include refid="AdminListCommonSelect"/>
		GROUP BY 
		    p.product_id, p.product_name, p.product_price,c.category_name,
		    p.product_delivery_price, p.product_sale, p.product_remain
		ORDER BY p.product_price DESC
	</select>
	
	<update id="decreaseProductRemain">
	    <![CDATA[
	    UPDATE tbl_product
	    SET product_remain = product_remain - #{product_count}
	    WHERE product_id = #{product_id}
	        AND product_remain >= #{product_count}
	        AND product_remain > 0
	    ]]>
	</update>
	
</mapper>
