<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.joonzis.myplant.mapper.MyPlantScheduleMapper">

	<select id="getListByMyPlant" resultType="org.joonzis.myplant.dto.MyPlantScheduleDTO">
	
	    SELECT * FROM tbl_myplant_schedule
	    WHERE myplant_id = #{myplant_id}
	    ORDER BY myplant_schedule_date
	    
	</select>
	
	<insert id="insert">

	    INSERT INTO tbl_myplant_schedule (
	        schedule_id,
	        myplant_id,
	        myplant_schedule_date,
	        myplant_schedule_do
	    ) VALUES (
	        schedule_seq.nextval,
	        #{myplant_id},
	        #{myplant_schedule_date},
	        #{myplant_schedule_do}
	    )
	
	</insert>
	
	<update id="update">

	    UPDATE tbl_myplant_schedule
	    SET
	        myplant_schedule_date = #{myplant_schedule_date},
	        myplant_schedule_do   = #{myplant_schedule_do}
	    WHERE schedule_id = #{schedule_id}
	    
	</update>
	
	<delete id="delete">
		
		DELETE
	    FROM tbl_myplant_schedule
	    WHERE schedule_id = #{schedule_id}
	    
	</delete>
	
</mapper>