<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.myplant.mapper.MyPlantMapper">

    <select id="myPlantMain" resultType="org.joonzis.myplant.dto.MyPlantDTO">
        SELECT * FROM tbl_myplant
        WHERE user_id = #{user_id}
        ORDER BY myplant_regdate DESC
	</select>
	
    <select id="get" resultType="org.joonzis.myplant.dto.MyPlantDTO">
        SELECT * FROM tbl_myplant
        WHERE myplant_id = #{myplant_id}
    </select>

    <insert id="insert">
		<selectKey keyProperty="myplant_id" resultType="int" order="BEFORE">
		    SELECT myplant_seq.NEXTVAL FROM dual
		</selectKey>
        INSERT INTO tbl_myplant
        (myplant_id, user_id, plant_id, myplant_name, myplant_regdate)
        VALUES
        (myplant_seq.NEXTVAL, #{user_id}, #{plant_id}, #{myplant_name}, SYSDATE)
    </insert>

    <update id="update">
        UPDATE tbl_myplant
        SET myplant_name = #{myplant_name},
            plant_id = #{plant_id}
        WHERE myplant_id = #{myplant_id}
    </update>

    <delete id="delete">
        DELETE FROM tbl_myplant
        WHERE myplant_id = #{myplant_id}
    </delete>

</mapper>
