<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.plant.mapper.GuideMapper">
	<!-- 가이드 정보 입력 -->
	<insert id="insertGuideInfo">
		INSERT INTO tbl_guide(
			plant_id,
			guide_caretip,
			guide_toughness,
			guide_carelevel,
			guide_caredifficulty,
			guide_lifespan,
			guide_watering_schedule,
			guide_sunlight_requirements,
			guide_soil_type,
			guide_soil_ph,
			guide_planting_time,
			guide_hardinesszone,
			guide_toxicity,
			guide_wartering_humiditylevel,
			guide_wartering_content,
			guide_sunlight_tolerance,
			guide_sunlight_content,
			guide_temperature_imin,
			guide_temperature_imax,
			guide_temperature_tmin,
			guide_temperature_tmax,
			guide_temperature_content,
			guide_soil_composition,
			guide_soil_content,
			guide_fertilizing_content,
			guide_pruning_time,
			guide_pruning_benefits,
			guide_pruning_content,
			guide_propagation_time,
			guide_propagation_type,
			guide_propagation_content,
			guide_transplanting_time,
			guide_transplanting_content,
			guide_planting_content,
			guide_repotting_schedule,
			guide_repotting_content,
			guide_harvest_time,
			guide_harvest_content)
		VALUES(
			#{plant_id},
			#{guide_caretip, jdbcType=CLOB},
			#{guide_toughness, jdbcType=VARCHAR},
			#{guide_carelevel, jdbcType=VARCHAR},
			#{guide_caredifficulty, jdbcType=VARCHAR},
			#{guide_lifespan, jdbcType=VARCHAR},
			#{guide_watering_schedule, jdbcType=VARCHAR},
			#{guide_sunlight_requirements, jdbcType=VARCHAR},
			#{guide_soil_type, jdbcType=VARCHAR},
			#{guide_soil_ph, jdbcType=VARCHAR},
			#{guide_planting_time, jdbcType=VARCHAR},
			#{guide_hardinesszone, jdbcType=VARCHAR},
			#{guide_toxicity, jdbcType=VARCHAR},
			#{guide_wartering_humiditylevel, jdbcType=VARCHAR},
			#{guide_wartering_content, jdbcType=CLOB},
			#{guide_sunlight_tolerance, jdbcType=VARCHAR},
			#{guide_sunlight_content, jdbcType=CLOB},
			#{guide_temperature_imin, jdbcType=INTEGER},
			#{guide_temperature_imax, jdbcType=INTEGER},
			#{guide_temperature_tmin, jdbcType=INTEGER},
			#{guide_temperature_tmax, jdbcType=INTEGER},
			#{guide_temperature_content, jdbcType=CLOB},
			#{guide_soil_composition, jdbcType=VARCHAR},
			#{guide_soil_content, jdbcType=CLOB},
			#{guide_fertilizing_content, jdbcType=CLOB},
			#{guide_pruning_time, jdbcType=VARCHAR},
			#{guide_pruning_benefits, jdbcType=VARCHAR},
			#{guide_pruning_content, jdbcType=CLOB},
			#{guide_propagation_time, jdbcType=VARCHAR},
			#{guide_propagation_type, jdbcType=VARCHAR},
			#{guide_propagation_content, jdbcType=CLOB},
			#{guide_transplanting_time, jdbcType=VARCHAR},
			#{guide_transplanting_content, jdbcType=CLOB},
			#{guide_planting_content, jdbcType=CLOB},
			#{guide_repotting_schedule, jdbcType=VARCHAR},
			#{guide_repotting_content, jdbcType=CLOB},
			#{guide_harvest_time, jdbcType=VARCHAR},
			#{guide_harvest_content, jdbcType=CLOB}
			)
	</insert>
</mapper>
