<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.plant.mapper.PlantMapper">
	<!-- 식물 정보 입력 -->
	<insert id="insertPlantInfo">
		INSERT INTO tbl_plant(
			plant_id,
			plant_name,
			plant_name_eng,
			plant_genus,
			plant_family,
			plant_order,
			plant_class,
			plant_phylum,
			plant_toxicity,
			plant_lifespan,
			plant_type,
			plant_height,
			plant_spread,
			plant_stemcolor,
			plant_leafcolor,
			plant_leaftype,
			plant_flowercolor,
			plant_flowersize,
			plant_bloomtime,
			plant_fruitcolor,
			plant_harvesttime,
			plant_temperature_imin,
			plant_temperature_imax,
			plant_dormancy,
			plant_growthseason,
			plant_growthrate,
			plant_culture_epv,
			plant_culture_ev,
			plant_culture_biv,
			plant_culture_gu,
			plant_culture_symbolism,
			plant_culture_if)
		VALUES(
			PLANT_SEQ.nextval,
			#{plant_name},
			#{plant_name_eng},
			#{plant_genus},
			#{plant_family},
			#{plant_order},
			#{plant_class},
			#{plant_phylum},
			#{plant_toxicity},
			#{plant_lifespan},
			#{plant_type},
			#{plant_height},
			#{plant_spread},
			#{plant_stemcolor},
			#{plant_leafcolor},
			#{plant_leaftype},
			#{plant_flowercolor},
			#{plant_flowersize},
			#{plant_bloomtime},
			#{plant_fruitcolor},
			#{plant_harvesttime},
			#{plant_temperature_imin},
			#{plant_temperature_imax},
			#{plant_dormancy},
			#{plant_growthseason},
			#{plant_growthrate},
			#{plant_culture_epv},
			#{plant_culture_ev},
			#{plant_culture_biv},
			#{plant_culture_gu},
			#{plant_culture_symbolism},
			#{plant_culture_if})
	</insert>
</mapper>
