<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.common.mapper.SearchMapper">
	<!-- 식물 검색 결과 출력 -->
	<select id="searchPlants" resultType="org.joonzis.plant.dto.SimplePlantDTO">
		SELECT plant_id, plant_name, plant_name_kor, plant_image, plant_searchcount
		FROM tbl_plant
		WHERE plant_name LIKE INITCAP('%' || #{q} || '%') OR plant_name_kor LIKE '%' || #{q} || '%'
	</select>
</mapper>
